<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .my-table {
            display: flex;
        }

        .my-table td:nth-child(2) {
            flex-grow: 1;
        }

        .my-table td:nth-child(1),
        .my-table td:nth-child(3) {
            flex-shrink: 0;
        }   
    </style>
</head>

<body>
    <table class="my-table">
        <tr>
            <th>ชื่อ</th>
            <th>รายละเอียด</th>
            <th>ราคา</th>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>Jane Doe</td>
            <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</td>
            <td>$200</td>
        </tr>
    </table>
</body>

</html>